<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, inital-scale=1.0" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/navBar.css" />
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="/">
                        <img
                            class="logo"
                            src="img/jimsMarketLogo.png"
                            alt="Jim's Market Logo"
                        />
                    </a>
                </div>

                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"
                    ><span class="burger-icon"></span
                ></label>

                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/schedules">Schedules</a>
                    </li>
                    <li>
                        <a href="/notifications">Notifications</a>
                    </li>
                    <li>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button
                                class="btn btn-logout logout-btn-sm-screen"
                                type="submit"
                            >
                                Log Out
                            </button>
                        </form>
                    </li>
                </ul>

                <form action="/logout?_method=DELETE" method="POST">
                    <button
                        class="btn btn-logout logout-btn-lg-screen"
                        type="submit"
                    >
                        Log Out
                    </button>
                </form>
            </nav>
        </header>
        <div class="container">
            <div class="inner-container">
                <h1>Welcome <%= username %></h1>
                <br />
                <p>This is our new website for Jim's Market Employees.</p>
                <br />
                <p>
                    The main purpose of this website is to provide the work
                    schedules and reminders online so that everyone can see when
                    they work as soon as the schedules are posted. There are two
                    pages that you can access (Home and Schedules) at the top of
                    the screen. This website can be accessed via computer,
                    phone, and tablets.
                </p>
                <br />
                <p class="asterisk">
                    * The login screen that led you here was made so that only
                    employees can have access to the schedules, so please
                    <b>do not share</b> the username and password with anyone
                    else.
                </p>
            </div>
        </div>
        <footer class="center">
            <div>
                <p>
                    Icons made by
                    <a href="https://www.freepik.com" title="Freepik"
                        >Freepik</a
                    >
                    from
                    <a href="https://www.flaticon.com/" title="Flaticon"
                        >www.flaticon.com</a
                    >
                </p>
            </div>
            <div>
                <p>
                    Background photo was taken by: Dave Worden, December 2020.
                </p>
            </div>
            <div>
                <p>Site created by: Trent Ward, November 2021.</p>
            </div>
        </footer>
    </body>
</html>
