<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/navBar.css" />
        <title>Notifications</title>
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="/">
                        <img
                            class="logo"
                            src="img/jimsMarketLogo.png"
                            alt="Jim's Market Logo"
                        />
                    </a>
                </div>

                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"
                    ><span class="burger-icon"></span
                ></label>

                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/schedules">Schedules</a>
                    </li>
                    <li>
                        <a href="/notifications">Notifications</a>
                    </li>
                    <li>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button
                                class="btn btn-logout logout-btn-sm-screen"
                                type="submit"
                            >
                                Log Out
                            </button>
                        </form>
                    </li>
                </ul>

                <form action="/logout?_method=DELETE" method="POST">
                    <button
                        class="btn btn-logout logout-btn-lg-screen"
                        type="submit"
                    >
                        Log Out
                    </button>
                </form>
            </nav>
        </header>
        <div class="container">
            <div class="inner-container">
                <h1>Notifications</h1>
                <br />
                <p>
                    Sign up here for email notifications below and click "Get
                    Notifications".
                </p>
                <br />
                <p class="asterisk">
                    * Notifications will be sent via email when new schedules
                    are posted on the website.
                </p>
                <br />
                <div class="notifications-form">
                    <img
                        class="icons"
                        src="img/email.png"
                        alt="email notifications"
                    />
                    <% if (messages.error) { %> <%= messages.error %> <% } %>
                    <form action="/notify" method="POST">
                        <div class="input-wrapper">
                            <input
                                type="text"
                                id="firstName"
                                name="firstName"
                                class="form-control"
                                placeholder="First Name"
                                required
                            />
                            <label for="firstName" class="control-label"
                                >First Name</label
                            >
                        </div>
                        <div class="input-wrapper">
                            <input
                                type="text"
                                id="lastName"
                                name="lastName"
                                class="form-control"
                                placeholder="Last Name"
                                required
                            />
                            <label for="lastName" class="control-label"
                                >Last Name</label
                            >
                        </div>
                        <div class="input-wrapper">
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="Email"
                                required
                            />
                            <label for="email" class="control-label"
                                >Email</label
                            >
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Get Notifications
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="center">
            <div>
                <p>
                    Icons made by
                    <a href="https://www.freepik.com" title="Freepik"
                        >Freepik</a
                    >
                    from
                    <a href="https://www.flaticon.com/" title="Flaticon"
                        >www.flaticon.com</a
                    >
                </p>
            </div>
            <div>
                <p>
                    Background photo was taken by: Dave Worden, December 2020.
                </p>
            </div>
            <div>
                <p>Site created by: Trent Ward, November 2021.</p>
            </div>
        </footer>
    </body>
</html>
