<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/navBar.css" />
        <title>Notifications</title>
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="/">
                        <img
                            class="logo"
                            src="img/jimsMarketLogo.png"
                            alt="Jim's Market Logo"
                        />
                    </a>
                </div>

                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"
                    ><span class="burger-icon"></span
                ></label>

                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/schedules">Schedules</a>
                    </li>
                    <li>
                        <a href="/notifications">Notifications</a>
                    </li>
                    <li>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button
                                class="btn btn-logout logout-btn-sm-screen"
                                type="submit"
                            >
                                Log Out
                            </button>
                        </form>
                    </li>
                </ul>

                <form action="/logout?_method=DELETE" method="POST">
                    <button
                        class="btn btn-logout logout-btn-lg-screen"
                        type="submit"
                    >
                        Log Out
                    </button>
                </form>
            </nav>
        </header>
        <div class="container">
            <div class="inner-container">
                <h1>Thank You!</h1>
                <br />
                <p>You will now receive notifications via email.</p>
            </div>
        </div>
        <footer class="center">
            <div>
                <p>
                    Icons made by
                    <a href="https://www.freepik.com" title="Freepik"
                        >Freepik</a
                    >
                    from
                    <a href="https://www.flaticon.com/" title="Flaticon"
                        >www.flaticon.com</a
                    >
                </p>
            </div>
            <div>
                <p>
                    Background photo was taken by: Dave Worden, December 2020.
                </p>
            </div>
            <div>
                <p>Site created by: Trent Ward, November 2021.</p>
            </div>
        </footer>
    </body>
</html>
