/* variable color theme */
* {
	--main-back-color: #ddd5bb;
	--nav-back-color: #c4b47f;
	--nav-color: #fff;
	--nav-hover-color: #005d3b;
	--btn-text-color: #fff;
	--btn-back-color: #187754;
	--btn-hover-color: #005d3b;
	--footer-text-color: #fff;
	--footer-back-color: #1d1d1d;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* html */
html {
	height: 100%;
}

/* body */
body {
	font-family: sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
}

p.asterisk {
	font-style: italic;
	font-size: 15px;
}

/* nav menu css for all screens */
nav {
	background-color: var(--nav-back-color);
	padding: 20px;
}

.logo {
	height: 50px;
	float: left;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: var(--nav-color);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
}

.nav-links a:hover {
	background-color: var(--nav-hover-color);
	border-radius: 5px;
}

/* main div */
.main {
	padding: 20px 20px 250px 20px;
	background-color: var(--main-back-color);
	flex: 1 0 auto;
}

.main h1,
h2,
h3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.main p {
	margin-left: 20px;
	margin-right: 20px;
}
.main div {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* weeks flexbox */
.weeks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.weeks div {
	margin: 10px;
}

.weeks div button {
	justify-content: space-evenly;
}

/* buttons for schedules css */
/* all buttons */
.btn {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: var(--btn-back-color);
	color: var(--btn-text-color);
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px #999;
}

.btn:hover {
	background-color: var(--btn-hover-color);
}

.btn:active {
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

/* --- login page css --- */
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}
.jims-background {
	background: url("../img/jims-background.png");
}
.login-page {
	background-color: var(--nav-back-color);
	border-radius: 5px;
	padding: 20px;
	margin: 40px 40px 150px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-page form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-page img,
button {
	margin: 20px;
}

.login-page img {
	height: 50px;
}

/* floating input labels */
.input-wrapper {
	position: relative;
	margin: 20px;
}

.form-control {
	display: block;
	line-height: 2em;
	margin: 0;
	padding-left: 10px;
	width: 100%;
	font-size: medium;
	border: 1px solid #f4f4f4;
	background-color: #f4f4f4;
	border-radius: 5px;
	font-weight: 500;
}

.form-control:focus {
	border: 1px solid #2c7ac9;
}

.control-label {
	display: block;
	position: absolute;
	opacity: 0;
	bottom: 1.9rem;
	color: #5d5d5d;
	transition: 0.2s ease-in-out transform;
	font-size: 12px;
}

.form-control:placeholder-shown + .control-label {
	visibility: hidden;
	z-index: -1;
	transition: 0.2s ease-in-out;
}

.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
	visibility: visible;
	z-index: 1;
	opacity: 1;
	transform: translateY(-10px);
	transition: 0.2s ease-in-out;
}

/* --- footer --- */
footer {
	background-color: var(--footer-back-color);
	color: var(--footer-text-color);
	flex-shrink: 0;
	width: 100%;
}

footer div {
	padding: 10px;
}

footer a {
	text-decoration: underline;
	color: rgb(51, 176, 218);
}
