@import url("main.css");
/* navigation menu */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* class names for navigation menu */

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.logout-btn-sm-screen {
	display: none;
}

.menu-btn {
	display: none;
}
